
  body {
    
    font-family: Comic Sans, Comic Sans MS, cursive;
    background-color: #202020;
    
  }
  .nav{
    position:sticky;/*to fix it*/
    top: 0;
    z-index: 1; /*if this is not used then the text(welcome) will be visible in the white text of navigation bar (home etc.) when we will scroll*/
  }
  .a{
    position: relative;
    top: -450px;
    background-color: none;
    text-align: center;
    color: rgb(248, 248, 248);
    font-size:70px;
    line-height: 48px;
  } 
  .image{
    width:1290px;
    height: 610px;
    margin:-18px ;
    opacity: 1;
  
  }
  

  ul {

    list-style-type: none; /*to remove bullets*/
    background-color: #000000;
    margin: -8px -8px 0px -8px;
    overflow: hidden;

  }

  li {
    float: left;
    padding: 7px 0px 7px 0px;
    font-size: 18px;
    margin: 15px;
  
  }
   a {
    color: white;
    text-decoration: none;/*to remove underline*/

  }

  li a:hover {
    background-color: #000000;
    color:  #f6376d;
  }
  
  .b{
  
    position: absolute;/*workflow se bahar*/
    left: 900px; /*left se margin diya*/
 }
 

  .button{
    margin: 15px;
    border-radius: 18px;
    font-size: 18px;
    font-family: inherit;
    background-color:#e7104d;
    
    color: white;
    text-decoration: none;
    border: none;
    height: 35px;
    width: 125.078px;
    padding: 5px 21px 7px 21px;
    opacity: 1;
  }
  .button:hover{
  
   background-color: #f6376d;
   cursor: pointer;
   box-shadow: 0 5px 10px rgba(214, 210, 210, 0.288), 0 5px 5px 0 rgba(177, 174, 174, 0.075);

  }
.container{
  display: flex;
 
}
.card{
  flex-direction: row;
  width: 45vh;
  height: 60vh;
  background-color: white;
  margin: 60px 60px 20px 40px;
}
.card-image{

}
.card-button{
  
  position: absolute;
  margin: 54vh 5vh 2vh 10vh;
  
  border-radius: 18px;
  font-size: 18px;
  font-family: inherit;
  background-color:#e7104d;
  
  color: white;
  text-decoration: none;
  border: none;
  height: 35px;
  width: 30vh;
  padding: 5px 21px 7px 21px;
  opacity: 1;  
}
